<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<h1>PCOS Diagnosis Portal</h1>
			<nav class="">
				<ul></ul>
			</nav>
		</header>
		<main>
			{%if output%}
			<div class="resultwrapper">
				<div class="result bg-white rounded-start p-3">
					<h1>
						{%if output== True%} You have been Diagnosised with PCOS {%else%}
						You haven't been Diagnosised with PCOS {% endif %}
					</h1>
				</div>
				<div class="infographics">
					<div>
						<h3>Dietary advice</h3>
						<h4>A healthful PCOS diet can also include the following foods:</h4>
						<ol>
							<li>natural, unprocessed foods</li>
							<li>high-fiber foods</li>
							<li>
								fatty fish, including salmon, tuna, sardines, and mackerel kale,
								spinach, and other dark, leafy greens
							</li>
							<li>
								dark red fruits, such as red grapes, blueberries, blackberries,
								and cherries
							</li>
							<li>dried beans, lentils, and other legumes</li>
							<li>
								healthful fats, such as olive oil, as well as avocados and
								coconuts
							</li>
							<li>
								nuts, including pine nuts, walnuts, almonds, and pistachios
							</li>
							<li>dark chocolate in moderation</li>
							<li>spices, such as turmeric and cinnamon</li>
							<li>broccoli and cauliflower</li>
						</ol>
					</div>
					<div>
						<h3>Lifestyle and home remedies</h3>
						<h4>To help decrease the effects of PCOS, try to:</h4>
						<ol>
							<li>
								Maintain a healthy weight. Weight loss can reduce insulin and
								androgen levels and may restore ovulation. Ask your doctor about
								a weight-control program, and meet regularly with a dietitian
								for help in reaching weight-loss goals.
							</li>
							<li>
								Limit carbohydrates. Low-fat, high-carbohydrate diets might
								increase insulin levels. Ask your doctor about a
								low-carbohydrate diet if you have PCOS. Choose complex
								carbohydrates, which raise your blood sugar levels more slowly.
							</li>
							<li>
								Be active. Exercise helps lower blood sugar levels. If you have
								PCOS, increasing your daily activity and participating in a
								regular exercise program may treat or even prevent insulin
								resistance and help you keep your weight under control and avoid
								developing diabetes.
							</li>
						</ol>
					</div>
				</div>
			</div>

			{%else%}
			<div class="charts">
				<div class="flex-row gap-5">
					<canvas
						class="bg-white my-4"
						id="myChart"
						width="40vw"
						height="20vh"
					></canvas>
					<canvas
						class="bg-white my-4"
						id="myChart2"
						width="40vw"
						height="20vh"
					></canvas>
				</div>
			</div>

			<div class="form-wrapper">
				<form action="\" method="post">
					<div class="form-group">
						<input
							required
							type="number"
							name="Age"
							placeholder="yrs"
							required
						/>
						<label for="Age">Age(yrs)</label>
					</div>
					<div class="flex-row">
						<div class="form-group">
							<input
								required
								type="text"
								name="Weigth"
								placeholder="Kg"
								required
								id="vajan"
								onblur="calIBM"
							/>
							<label for="Weigth">Weigth(Kg)</label>
						</div>
						<div class="form-group">
							<input
								required
								type="text"
								name="Heigth"
								placeholder="kg"
								required
								id="uunchi"
								onblur="calIBM"
							/>
							<label for="Heigth">Heigth(cms)</label>
						</div>
						<div class="form-group">
							<input
								required
								type="number"
								name="BMI"
								placeholder="yrs"
								readonly
								id="IBM"
							/>
							<label for="BMI">BMI</label>
						</div>
					</div>

					<div class="flex-row">
						<div class="form-group">
							<select name="blood" id="" value="">
								<option value="11">A+</option>
								<option value="12">A-</option>
								<option value="13">B+</option>
								<option value="14">B-</option>
								<option value="17">AB+</option>
								<option value="18">AB-</option>
								<option value="15">O+</option>
								<option value="16">O-</option>
							</select>
							<label for="blood">Blood Type</label>
						</div>
						<div class="form-group">
							<input
								required
								type="number"
								name="PulseRate"
								placeholder="bpm"
							/>
							<label for="PulseRate">Pulse Rate(bpm)</label>
						</div>
						<div class="form-group">
							<input required type="text" name="Hb" placeholder="yrs" />
							<label for="Hb">Hb(g/dl)</label>
						</div>
					</div>
					<div class="flex-row">
						<div class="form-group">
							<div class="flex-row">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="Cycle"
										id="Cycler"
										value="2"
									/>
									<label for="Cycler">Regular</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="Cycle"
										id="Cyclei"
										value="4"
									/>
									<label for="cyclei">Irregular</label>
								</div>
							</div>
							<label for="Cycle">Cycle(R/I)</label>
						</div>
						<div class="form-group">
							<input
								required
								type="number"
								name="Cycle-length"
								placeholder="yrs"
							/>
							<label for="Cycle-length">Cycle length(day)</label>
						</div>
					</div>
					<div class="flex-row">
						<div class="form-group">
							<input
								required
								type="number"
								name="Marital-Status"
								placeholder="yrs"
							/>
							<label for="Marital-Status">Marraige Status (Yrs)</label>
						</div>
						<div class="form-group">
							<div class="flex-row justify-content-center">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="Pregagante"
										id="Pregagante"
										value="1"
									/>
									<label for="Pregagante">Yes</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="Pregagante"
										id="Pregagante"
										value="0"
									/>
									<label for="Pregagante">No</label>
								</div>
							</div>
							<label for="Pregagante">Have you been Pregnant?</label>
						</div>
						<div class="form-group">
							<input required type="number" name="aborptions" />
							<label for="aborptions">No. of abortions</label>
						</div>
					</div>
					<div class="flex-row">
						<div class="form-group">
							<input
								required
								type="number"
								name="Hip"
								id="HIP"
								onblur="calHipHopratio"
							/>
							<label for="Hip">Hip size (inch)</label>
						</div>
						<div class="form-group">
							<input
								required
								type="number"
								name="Waist"
								id="HOP"
								onblur="calHipHopratio"
							/>
							<label for="Waist">Waist (inch)</label>
						</div>
						<div class="form-group">
							<input required type="number" name="Ratio" readonly id="ratio" />
							<label for="Ratio">Hip:Waist Ratio</label>
						</div>
					</div>
					<div class="flex-row gap-5">
						<div class="form-group">
							<div class="flex-row">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="weightGain"
										id="weightGain"
										value="1"
									/>
									<label for="weightGain">Yes</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="weightGain"
										id="weightGain"
										value="0"
									/>
									<label for="weightGain">No</label>
								</div>
							</div>
							<label for="weightGain">Weight Gain</label>
						</div>
						<div class="form-group">
							<div class="flex-row">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="hairGrowth"
										id="hairGrowth"
										value="1"
									/>
									<label for="hairGrowth">Yes</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="hairGrowth"
										id="hairGrowth"
										value="0"
									/>
									<label for="hairGrowth">No</label>
								</div>
							</div>

							<label for="hairGrowth">Hair Growth</label>
						</div>
						<div class="form-group">
							<div class="flex-row">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="darkening"
										id="darkening"
										value="1"
									/>
									<label for="darkening">Yes</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="darkening"
										id="darkening"
										value="0"
									/>
									<label for="darkening">No</label>
								</div>
							</div>
							<label for="darkening">Skin Darkening</label>
						</div>
					</div>
					<div class="flex-row gap-5">
						<div class="form-group">
							<div class="flex-row">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="hairLoss"
										id="hairLoss"
										value="1"
									/>
									<label for="hairLoss">Yes</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="hairLoss"
										id="hairLoss"
										value="0"
									/>
									<label for="hairLoss">No</label>
								</div>
							</div>
							<label for="hairLoss">Hair Loss</label>
						</div>
						<div class="form-group">
							<div class="flex-row">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="pimples"
										id="pimples"
										value="1"
									/>
									<label for="pimples">Yes</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="pimples"
										id="pimples"
										value="0"
									/>
									<label for="pimples">No</label>
								</div>
							</div>
							<label for="pimples">Pimples</label>
						</div>
						<div class="form-group">
							<div class="flex-row">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="fastfood"
										id="fastfood"
										value="1"
									/>
									<label for="fastfood">Yes</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="fastfood"
										id="fastfood"
										value="0"
									/>
									<label for="fastfood">No</label>
								</div>
							</div>
							<label for="fastfood">Fast Food</label>
						</div>
						<div class="form-group">
							<div class="flex-row">
								<div class="flex-col">
									<input
										required
										type="radio"
										name="exercise"
										id="exercise"
										value="1"
									/>
									<label for="exercise">Yes</label>
								</div>
								<div class="flex-col">
									<input
										required
										type="radio"
										name="exercise"
										id="exercise"
										value="0"
									/>
									<label for="exercise">No</label>
								</div>
							</div>
							<label for="exercise">Regular Exercise</label>
						</div>
					</div>
					<div class="flex-row">
						<div class="form-group">
							<input required type="number" name="SystolicBP" />
							<label for="SystolicBP">Systolic Blood Pressure(mmHg)</label>
						</div>
						<div class="form-group">
							<input required type="number" name="DiastolicBP" />
							<label for="DiastolicBP">Diastolic Blood Pressure(mmHg)</label>
						</div>
					</div>
					<div class="form-group">
						<div class="flex-row">
							<div class="form-group">
								<input required type="number" name="FollicleL" />
								<label for="FollicleL">Left</label>
							</div>
							<div class="form-group">
								<input required type="number" name="FollicleR" />
								<label for="FollicleR">Right</label>
							</div>
						</div>
						Follicle Numbers
					</div>
					<button>Submit</button>
				</form>
			</div>
			{%endif%}
		</main>
		<script>
			const uunchidiv = document.getElementById("uunchi");
			const vajandiv = document.getElementById("vajan");
			const ibm = document.getElementById("IBM");
			function calIBM() {
				let vajan = vajandiv.value ? vajandiv.value : 0;
				let uunchi = uunchidiv.value ? uunchidiv.value : 0;
				uunchi = uunchi / 100;
				uuchisquar = uunchi ** 2;
				if (uunchi !== 0 && vajan !== 0) {
					bmi = vajan / uuchisquar;
					ibm.value = bmi;
				}
			}

			uunchidiv.addEventListener("blur", calIBM);
			vajandiv.addEventListener("blur", calIBM);

			const hipdiv = document.getElementById("HIP");
			const hopdiv = document.getElementById("HOP");
			const ratio = document.getElementById("ratio");
			function calHipHopratio() {
				const hip = hipdiv.value ? hipdiv.value : 0;
				const hop = hopdiv.value ? hopdiv.value : 0;
				console.log(hip, hop);
				if (hip !== 0 && hop !== 0) {
					ratioval = hip / hop;
					ratio.value = ratioval;
				}
			}
			hipdiv.addEventListener("blur", calHipHopratio);
			hopdiv.addEventListener("blur", calHipHopratio);
		</script>

		<script>
			const ctx = document.getElementById("myChart");
			const ctx2 = document.getElementById("myChart2");

			const datapoint = [
				{ x: 33.0, y: 5.0 },
				{ x: 25.0, y: 2.0 },
				{ x: 30.0, y: 7.0 },
				{ x: 34.0, y: 5.0 },
				{ x: 30.0, y: 3.0 },
				{ x: 28.0, y: 3.0 },
				{ x: 34.0, y: 4.0 },
				{ x: 29.0, y: 7.0 },
				{ x: 28.0, y: 5.0 },
				{ x: 27.0, y: 3.0 },
				{ x: 23.0, y: 10.0 },
				{ x: 31.0, y: 4.0 },
				{ x: 32.0, y: 5.0 },
				{ x: 35.0, y: 5.0 },
				{ x: 34.0, y: 5.0 },
				{ x: 32.0, y: 11.0 },
				{ x: 22.0, y: 2.0 },
				{ x: 22.0, y: 5.0 },
				{ x: 28.0, y: 5.0 },
				{ x: 31.0, y: 12.0 },
				{ x: 38.0, y: 2.0 },
				{ x: 25.0, y: 5.0 },
				{ x: 27.0, y: 8.0 },
				{ x: 24.0, y: 9.0 },
				{ x: 32.0, y: 9.0 },
				{ x: 29.0, y: 5.0 },
				{ x: 28.0, y: 9.0 },
				{ x: 22.0, y: 5.0 },
				{ x: 23.0, y: 5.0 },
				{ x: 26.0, y: 5.0 },
				{ x: 24.0, y: 2.0 },
				{ x: 22.0, y: 5.0 },
				{ x: 28.0, y: 5.0 },
				{ x: 28.0, y: 5.0 },
				{ x: 30.0, y: 11.0 },
				{ x: 23.0, y: 2.0 },
				{ x: 28.0, y: 2.0 },
				{ x: 29.0, y: 4.0 },
				{ x: 31.0, y: 5.0 },
				{ x: 29.0, y: 4.0 },
				{ x: 25.0, y: 4.0 },
				{ x: 23.0, y: 4.0 },
				{ x: 29.0, y: 6.0 },
				{ x: 30.0, y: 4.0 },
				{ x: 33.0, y: 5.0 },
				{ x: 29.0, y: 4.0 },
				{ x: 35.0, y: 5.0 },
				{ x: 27.0, y: 4.0 },
				{ x: 28.0, y: 4.0 },
				{ x: 24.0, y: 4.0 },
				{ x: 37.0, y: 5.0 },
				{ x: 30.0, y: 4.0 },
				{ x: 32.0, y: 5.0 },
				{ x: 23.0, y: 4.0 },
				{ x: 29.0, y: 3.0 },
				{ x: 35.0, y: 4.0 },
				{ x: 35.0, y: 4.0 },
				{ x: 25.0, y: 3.0 },
				{ x: 23.0, y: 4.0 },
				{ x: 28.0, y: 5.0 },
				{ x: 24.0, y: 4.0 },
				{ x: 35.0, y: 4.0 },
				{ x: 32.0, y: 5.0 },
				{ x: 39.0, y: 4.0 },
				{ x: 26.0, y: 5.0 },
				{ x: 36.0, y: 5.0 },
				{ x: 34.0, y: 4.0 },
				{ x: 31.0, y: 3.0 },
				{ x: 27.0, y: 5.0 },
				{ x: 29.0, y: 6.0 },
				{ x: 40.0, y: 5.0 },
				{ x: 35.0, y: 4.0 },
				{ x: 25.0, y: 3.0 },
				{ x: 24.0, y: 5.0 },
				{ x: 29.0, y: 6.0 },
				{ x: 39.0, y: 6.0 },
				{ x: 23.0, y: 4.0 },
				{ x: 24.0, y: 5.0 },
				{ x: 33.0, y: 5.0 },
				{ x: 45.0, y: 4.0 },
				{ x: 47.0, y: 4.0 },
				{ x: 31.0, y: 5.0 },
				{ x: 28.0, y: 6.0 },
				{ x: 26.0, y: 4.0 },
				{ x: 27.0, y: 5.0 },
				{ x: 36.0, y: 4.0 },
				{ x: 29.0, y: 5.0 },
				{ x: 45.0, y: 4.0 },
				{ x: 38.0, y: 4.0 },
				{ x: 29.0, y: 5.0 },
				{ x: 27.0, y: 6.0 },
				{ x: 27.0, y: 5.0 },
				{ x: 28.0, y: 5.0 },
				{ x: 30.0, y: 5.0 },
				{ x: 40.0, y: 5.0 },
				{ x: 25.0, y: 5.0 },
				{ x: 41.0, y: 5.0 },
				{ x: 33.0, y: 5.0 },
				{ x: 24.0, y: 3.0 },
				{ x: 30.0, y: 2.0 },
				{ x: 28.0, y: 5.0 },
				{ x: 34.0, y: 6.0 },
				{ x: 33.0, y: 5.0 },
				{ x: 37.0, y: 2.0 },
				{ x: 30.0, y: 2.0 },
				{ x: 21.0, y: 3.0 },
				{ x: 36.0, y: 3.0 },
				{ x: 31.0, y: 2.0 },
				{ x: 26.0, y: 2.0 },
				{ x: 26.0, y: 5.0 },
				{ x: 32.0, y: 5.0 },
				{ x: 28.0, y: 2.0 },
				{ x: 36.0, y: 2.0 },
				{ x: 27.0, y: 6.0 },
				{ x: 32.0, y: 3.0 },
				{ x: 23.0, y: 2.0 },
				{ x: 22.0, y: 3.0 },
				{ x: 28.0, y: 6.0 },
				{ x: 29.0, y: 3.0 },
				{ x: 27.0, y: 4.0 },
				{ x: 24.0, y: 5.0 },
				{ x: 28.0, y: 2.0 },
				{ x: 27.0, y: 5.0 },
				{ x: 29.0, y: 3.0 },
				{ x: 36.0, y: 4.0 },
				{ x: 28.0, y: 3.0 },
				{ x: 27.0, y: 5.0 },
				{ x: 23.0, y: 5.0 },
				{ x: 30.0, y: 4.0 },
				{ x: 31.0, y: 2.0 },
				{ x: 27.0, y: 4.0 },
				{ x: 25.0, y: 5.0 },
				{ x: 38.0, y: 2.0 },
				{ x: 37.0, y: 3.0 },
				{ x: 32.0, y: 2.0 },
				{ x: 28.0, y: 6.0 },
				{ x: 33.0, y: 5.0 },
				{ x: 25.0, y: 3.0 },
				{ x: 23.0, y: 5.0 },
				{ x: 32.0, y: 3.0 },
				{ x: 33.0, y: 2.0 },
				{ x: 34.0, y: 5.0 },
				{ x: 39.0, y: 7.0 },
				{ x: 27.0, y: 5.0 },
				{ x: 26.0, y: 2.0 },
				{ x: 47.0, y: 7.0 },
				{ x: 33.0, y: 2.0 },
				{ x: 34.0, y: 5.0 },
				{ x: 30.0, y: 4.0 },
				{ x: 31.0, y: 5.0 },
				{ x: 35.0, y: 5.0 },
				{ x: 35.0, y: 5.0 },
				{ x: 32.0, y: 5.0 },
				{ x: 31.0, y: 6.0 },
				{ x: 31.0, y: 2.0 },
				{ x: 36.0, y: 7.0 },
				{ x: 33.0, y: 7.0 },
				{ x: 34.0, y: 7.0 },
				{ x: 32.0, y: 2.0 },
				{ x: 25.0, y: 5.0 },
				{ x: 34.0, y: 7.0 },
				{ x: 31.0, y: 5.0 },
				{ x: 26.0, y: 5.0 },
				{ x: 31.0, y: 4.0 },
				{ x: 42.0, y: 7.0 },
				{ x: 33.0, y: 2.0 },
				{ x: 30.0, y: 2.0 },
				{ x: 28.0, y: 4.0 },
				{ x: 30.0, y: 4.0 },
				{ x: 27.0, y: 2.0 },
				{ x: 46.0, y: 4.0 },
				{ x: 23.0, y: 7.0 },
				{ x: 27.0, y: 2.0 },
				{ x: 36.0, y: 7.0 },
				{ x: 27.0, y: 5.0 },
				{ x: 26.0, y: 7.0 },
				{ x: 23.0, y: 7.0 },
			];

			const datapoint2 = [
				{ x: 33.0, y: 29.5 },
				{ x: 25.0, y: 18.8 },
				{ x: 30.0, y: 25.2 },
				{ x: 34.0, y: 25.7 },
				{ x: 30.0, y: 28.3 },
				{ x: 28.0, y: 20.8 },
				{ x: 34.0, y: 19.2 },
				{ x: 29.0, y: 30.1 },
				{ x: 28.0, y: 29.0 },
				{ x: 27.0, y: 26.2 },
				{ x: 23.0, y: 15.8 },
				{ x: 31.0, y: 24.0 },
				{ x: 32.0, y: 26.0 },
				{ x: 35.0, y: 28.0 },
				{ x: 34.0, y: 24.2 },
				{ x: 32.0, y: 22.8 },
				{ x: 22.0, y: 24.3 },

				{ x: 31.0, y: 29.5 },
				{ x: 29.0, y: 18.8 },
				{ x: 19.0, y: 25.2 },
				{ x: 43.0, y: 25.7 },
				{ x: 38.0, y: 28.3 },
				{ x: 58.0, y: 20.8 },
				{ x: 50.0, y: 19.2 },
				{ x: 24.0, y: 30.1 },
				{ x: 21.0, y: 29.0 },
				{ x: 28.0, y: 26.2 },
				{ x: 23.0, y: 15.8 },
				{ x: 39.0, y: 24.0 },
				{ x: 34.0, y: 26.0 },
				{ x: 45.0, y: 28.0 },
				{ x: 50.0, y: 24.2 },
				{ x: 32.0, y: 22.8 },
				{ x: 23.0, y: 24.3 },
			];

			const myChart = new Chart(ctx, {
				type: "scatter",
				data: {
					datasets: [
						{
							label: "PCOS",
							data: datapoint.slice(0, 50),
							backgroundColor: "rgba(180, 0, 0,0.45)",
						},
					],
				},

				options: {
					responsive: true,
					plugins: {
						legend: {
							position: "bottom",
						},
						title: {
							display: true,
							text: "Age vs Cycle Length(days)",
						},
					},
				},
			});
			const agearaay = [];
			datapoint.slice(0, 50).forEach((element) => {
				console.log(element);
				agearaay.shift(element.x);
			});
			const myChart2 = new Chart(ctx2, {
				type: "scatter",
				data: {
					datasets: [
						{
							label: "PCOS",
							data: datapoint2,
							borderColor: "rgb(75, 192, 192)",
						},
					],
				},

				options: {
					responsive: true,
					plugins: {
						legend: {
							position: "bottom",
						},
						title: {
							display: true,
							text: "AGE vs BMI",
						},
					},
					xAxisID: "y",
					yAxisID: "x",
				},
			});
		</script>
	</body>
</html>
